:root {
	--search-separator-padding: 0 5px;
	--search-extra-margin-top: 10px;
	--search-label-padding: 0 5px 0 0;
}

.elgg-search-subtitle-element {
	font-style: normal;
	display: inline-block;
}
.elgg-search-subtitle-element:after {
	content: "|";
	padding: var(--search-separator-padding);
	display: inline-block;
	vertical-align: middle;
}
.elgg-search-subtitle-element:last-of-type:after {
	content: none;
}

.search-match-extra-label:after {
	content: ":";
	padding: var(--search-label-padding);
	display: inline-block;
	vertical-align: middle;
}
.search-matched-description + .search-matched-extra {
	margin-top: var(--search-extra-margin-top);
}
